
@{
    ViewData["Title"] = "ImageProcess";
}

<h2>ImageProcess</h2>

<div class="row">
    <div class="col-md-4">
        <form action="UploadFile" method="post" enctype="multipart/form-data">
            <div>
                <input type="file" name="formFile" id="file" />
            </div>
            &nbsp; &nbsp;
            <div>
                <input type="submit" name="command" value="Upload & Convert jpg to png" class="btn btn-default" />
                &nbsp;
            </div>
            &nbsp;
            <div>
                <input type="submit" name="command" value="Download from Blob & Convert jpg to png" class="btn btn-default" />
            </div>

        </form>

    </div>
</div>

@*<script>
        function Showmessage() {
            $('#upload').html('Upload & Converted Successfully and Saved into Output folder');
        }
    </script>*@

